
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 700;
line-height: 1.2;
}

p {
font-size: 16px;
line-height: 1.5;
}